{% extends "base.jinja" %}

{% block page_head %}
    <link rel="stylesheet" href="{{url_for("theme", path="article.css")}}" />
{% endblock page_head %}

{% block body %}
    <article>
        <header>
            <h1>
                {% if article.title %}
                    {{article.title}}                    
                {% else %}
                    {{article.date.strftime("%d %B %Y")}}
                {% endif %}
            </h1>
            {% if article.author %}
                <legend id="author">by {{article.author}}</legend>
            {% else %}
                <legend id="author">by <em>Anonymous</em></legend>
            {% endif %}
            <legend id="date">posted on {{article.date}}</legend>
        </header>

        <main class="{{article.format}}-format">
            {{article.content}}
        </main>
    </article>
{% endblock %}