{% extends "base.jinja" %}

{% block page_head %}
    <link rel="stylesheet" href="{{url_for("theme", path="index.css")}}" />
{% endblock page_head %}

{% block body %}
    <div class="index">
        {% if articles | length == 0 %}
            <span class="no-articles">There are no articles!</span>
        {% endif %}

        {% for article in articles %}
        <article class="snippet">
            <header>
                <h1><a href="{{url_for("article", slug=article.slug)}}">{{article.display_title()}}</a></h1>
                <legend id="author">by {{article.author}}</legend>
                <legend id="date">posted on {{article.date}}</legend>
            </header>

            <main class="{{article.article_format}}-format">
                {{article.get_content_html() | safe}} 
            </main>
        </article>
        {% endfor %}

        <footer>
            {% if previous_page != None %}
                <a href="{{url_for("index", page=previous_page)}}" class="page-link newer">Newer</a>
            {% endif %}

            {% if next_page != None %}
                <a href="{{url_for("index", page=next_page)}}" class="page-link older">Older</a>
            {% endif %}
        </footer>
    </div>
{% endblock %}