<!DOCTYPE html>

<html>

    <head>
        <title>{{blog_name}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" />
        <link rel="stylesheet" href="{{url_for("theme", path="style.css")}}" />
        {% block page_head %}
        {% endblock page_head %}
        {{renderer_head}}
    </head>

    <body>
        <h1><a href="{{url_for("index")}}">{{blog_name}}</a></h1>

        {% block body %}
        {% endblock %}
    </body>

    <footer>
        <a href="admin">Admin</a>
    </footer>

</html>