blog:
  name: A Charlotte Blog
  password: password
  web_client_enabled: yes
formats:
  - identifier: mathdown
    name: Mathdown
    renderer: mathdown
    description: Markdown with LaTeX support.
  - identifier: plain
    name: Plain Text
    renderer: plain
    description: What you type is what you get.
theme: charlotte