<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link rel="stylesheet" href="{{url_for('static', filename='blog/style.css')}}" />
        {% block page_head %}
        {% endblock page_head %}
        {{renderer_head}}
    </head>

    <body>
        <h1>{{blog_name}}</h1>

        {% block body %}
        {% endblock %}
        
        <footer>
            <a href="/upload">Upload an article</a>
        </footer>
    </body>

</html>