{% extends "blog/base.html" %}

{% block body %}
    {% for article in articles %}
    <article class="snippet">
        <header>
            <h1><a href="/articles/{{article.slug}}">{{article.title}}</a></h1>
            <legend id="author">by {{article.author}}</legend>
            <legend id="date">posted on {{article.date}}</legend>
        </header>

        <main>
            {{article.get_content_html() | safe}} 
        </main>
    </article>
    {% endfor %}

    {% if previous_page != None %}
        <a href="/{{previous_page}}">Newer</a>
    {% endif %}

    {% if next_page != None %}
        <a href="/{{next_page}}">Older</a>
    {% endif %}

{% endblock %}